<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
 
 
 <context:component-scan base-package = "DAO,Validation,Service"></context:component-scan>
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"		>
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE" />
		<property name="username" value="SYSTEM" />
		<property name="password" value="12345" />
	</bean>
 
  <bean id="sf" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
        <property name = "dataSource" ref = "dataSource"></property>
         <property name = "packagesToScan">
         <array>
         <value>DAO</value>
         <value>Validation</value>
         </array>
         </property>
         <property name="hibernateProperties">
		<value>
			hibernate.dialect = org.hibernate.dialect.Oracle10gDialect
			hibernate.show_sql = true
			hibernate.format_sql = true 
		</value>
	</property>
    </bean>
 
  <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
<property name="converters">
<list>
<bean class="Converter.Departmentconverter" />
</list>
</property>
</bean>
 
    </beans> 